.Deck {
    font-family: 'Tangerine', serif;
}
.Deck-cardarea {
    margin-top: 80px;
}

.Deck-title {
    color: rgb(243, 8, 20);
    font-size: 40px;
    font-style: oblique;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.subtitle {
    font-size: 30px;
}
.Deck-btn {
    background: none;
    outline: none;
    border: 2px solid;
    padding: 1em 2em;
    color: rgb(243, 8, 20);
    transition: 0.25s;
}

.Deck-btn:hover {
    border-color: blue;
    background: rgb(81, 255, 0);
    box-shadow: 0 0 0 0.5em rgb(9, 255, 0);
}