* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background: linear-gradient(90deg, #3107eb, #dbb3b3, #06f5e9);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}
